@charset "UTF-8";
.header{
  width: 400px;
  height: 100px;
  background: #ff0000;
  position: relative;
}
#white_box{
  background: #fff;
  float: left;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
}
.purple_box{
  width: 40px;
  height: 40px;
  background: #a9004b;
  float: left;
  margin-right: 10px;
}
.purple_box:last-child{
  margin-right: 0;
}
.second{
  margin: 0 10px;
}

.middle{
  width: 400px;
}
.green-box{
  width: 150px;
  height: 250px;
  background: #00ff51;
  position: absolute;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
} 
.brown_box{
  width: 250px;
  height: 250px;
  background: #8c2727;
  float: right;
  position: relative;
}
.wrap{ 
  position: absolute;
  left: 40px;
  top: 40px;
}
.orange_box{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: 5px solid #fff;
  margin-bottom: 10px;
}
.orange_box:last-child{
  margin-bottom: 0;
}
.yellow-box{
  height: 100px;
  background: #ffd000;
  width: 400px;
}