@charset "UTF-8";
body{
  max-width: 400px;
}
header{
  width: 400px;
  height: 100px;
  background: #ff0000;
}
#white_box:after{
  content: "";
  display: block;
  clear: both;
}
/* #white_box:before { 
  content: "";
  display: block;
  clear: both;
} */
#white_box{
  background: #fff;
  display: block;
  margin-right: 20px;
  margin-top: 20px;
  width: 40%;
  float: right;
}
.purple_box{
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}
.green-box{
  width: 150px;
  height: 250px;
  background: #00ff51;
  position: absolute;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
} 
/* .clearfix:before { 
  content: "";
  display: block;
  clear: both;
} 
.clearfix {
  display: block;
}*/
main{
  position: relative;
}
.brown_box{
  width: 250px;
  height: 250px;
  background: #8c2727;
  float: right;
  position: relative;
}
#wrap{ 
  display:flex;
  flex-flow: column;
  position: absolute;
  left: 40px;
  top: 40px;
}
.orange_box{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: solid 5px #fff;
  margin-bottom: 10px;
}
.yellow-box{
  height: 100px;
  background: #ffd000;
}